.line{
    width: 90%;
    margin-left: 25px;
  }

  .rmvCount{
    background-color: aliceblue;
    margin: 1px;
    height: 25px;
    width: 25px;
    font-weight: bold;
}

.addCount{
    background-color: aliceblue;
    margin: 1px;
    height: 25px;
    width: 25px;
    font-weight: bold;
}
.quantity{
    border:none;
    background-color: aliceblue;
    font-size: 13px;
    font-weight: bold;
}